html {
  font-family: sans-serif;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
.header{
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  align-items: center;
  background-color: limegreen;
}